@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,600,700italic|PT+Sans:400,400italic,700|Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext');
@font-face {
  font-family: SegoeUIRegular;
  src: url('/static/fonts/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('/static/fonts/SegoeUIRegular/SegoeUIRegular.eot#iefix') format("embedded-opentype"), url('/static/fonts/SegoeUIRegular/SegoeUIRegular.woff') format("woff"), url('/static/fonts/SegoeUIRegular/SegoeUIRegular.ttf') format("truetype");
}
.segoeui {
  font-family: SegoeUIRegular;
  font-style: normal;
  font-weight: normal;
}
.open_sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open_sans_light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open_sans_bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.open_sans_italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.open_sans_sbold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.open_sans_ibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.cond_i {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
.cond_b {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.pt_sans {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.pt_sans_i {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.pt_sans_b {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.cut {
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.recut {
  -moz-transform: skew(12deg, 0);
  -o-transform: skew(12deg, 0);
  -webkit-transform: skew(12deg, 0);
  transform: skew(12deg, 0);
  -ms-transform: skew(12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.bending {
  -moz-transform: skew(0, -3.5deg);
  -ms-transform: skew(0, -3.5deg);
  -webkit-transform: skew(0, -3.5deg);
  -o-transform: skew(0, -3.5deg);
  transform: skew(0, -3.5deg);
}
.animate_1second {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
/*about store*/
.store_about {
  position: relative;
  width: 664px;
  margin: 22px 0 20px 20px;
  padding: 20px 0;
  background: #ffffff;
  z-index: 1;
}
.store_about p {
  margin: 20px 30px;
  color: #464646;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.store_about:before,
.store_about:after {
  position: absolute;
  width: 90px;
  height: 88px;
  top: -9px;
  left: -14px;
  content: '';
  z-index: -1;
}
.store_about:before {
  background: url('/static/img/corner.png') no-repeat;
}
.store_about:after {
  -webkit-box-shadow: 72px -60px 50px -85px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 72px -60px 50px -85px rgba(0, 0, 0, 0.4);
  box-shadow: 72px -60px 50px -85px rgba(0, 0, 0, 0.4);
}
.store_about .how_work {
  overflow: hidden;
}
.store_about .how_work > .txt {
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  color: #1e78b0;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_about .how_work .btn {
  display: inline-block;
  position: relative;
  width: 360px;
  height: 39px;
  margin-top: 9px;
  margin-right: -5px;
  text-decoration: none;
}
.store_about .how_work .btn .green,
.store_about .how_work .btn .orange {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 39px;
  padding: 0 20px;
}
.store_about .how_work .btn .green {
  opacity: 1;
  background: #61b339;
  background: -moz-linear-gradient(45deg, #61b339 0%, #8ac757 40%, #8ac757 100%);
  background: -webkit-linear-gradient(45deg, #61b339 0%, #8ac757 40%, #8ac757 100%);
  background: linear-gradient(45deg, #61b339 0%, #8ac757 40%, #8ac757 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61b339', endColorstr='#8ac757', GradientType=1);
  z-index: 2;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_about .how_work .btn .orange {
  opacity: 1;
  background: #ff6000;
  background: -moz-linear-gradient(45deg, #ff6000 0%, #ff8900 39%, #ff8900 100%);
  background: -webkit-linear-gradient(45deg, #ff6000 0%, #ff8900 39%, #ff8900 100%);
  background: linear-gradient(45deg, #ff6000 0%, #ff8900 39%, #ff8900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6000', endColorstr='#ff8900', GradientType=1);
  z-index: 1;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_about .how_work .btn .txt {
  position: absolute;
  display: inline-block;
  width: 360px;
  height: 39px;
  left: 0;
  top: 0;
  padding: 0 20px;
  color: #ffffff;
  font-size: 18px;
  line-height: 39px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 3;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_about .step_work {
  margin-top: 20px;
}
.store_about .step_work .item {
  position: relative;
  width: 190px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.store_about .step_work .item .image {
  width: 112px;
  height: 112px;
  margin: 0 auto;
  background: url('/static/img/step_work.png') no-repeat;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.store_about .step_work .item:hover .image {
  background-position-y: 0;
}
.store_about .step_work .item:hover .title {
  color: #1e78b0;
}
.store_about .step_work .item:nth-child(2) {
  margin-left: 45px;
  margin-right: 45px;
}
.store_about .step_work .item .title {
  margin-top: 10px;
  color: #464646;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.store_about .step_work .step_arrow {
  position: absolute;
  top: 18px;
  left: 176px;
  width: 44px;
  height: 95px;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  background: url('/static/img/main_page/arrow_slogan.jpg') no-repeat 0 0;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.store_about .step_work .step_1 .image {
  background-position: 0 -111px;
}
.store_about .step_work .step_1:after {
  position: absolute;
  top: 18px;
  left: 176px;
  width: 44px;
  height: 95px;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  background: url('/static/img/main_page/arrow_slogan.jpg') no-repeat 0 0;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.store_about .step_work .step_1:hover:after {
  opacity: 1;
}
.store_about .step_work .step_2 .image {
  background-position: -112px -111px;
}
.store_about .step_work .step_2:after {
  position: absolute;
  top: 18px;
  left: 176px;
  width: 44px;
  height: 95px;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  background: url('/static/img/main_page/arrow_slogan.jpg') no-repeat 0 0;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.store_about .step_work .step_2:hover:after {
  opacity: 1;
}
.store_about .step_work .step_3 .image {
  background-position: -224px -111px;
}
.store_about .step_work .step_3:after {
  position: absolute;
  top: 203px;
  left: -7px;
  width: 44px;
  height: 95px;
  content: '';
  opacity: 0;
  -moz-transform: rotate(225deg) scale(1, -1);
  -webkit-transform: rotate(225deg) scale(1, -1);
  -o-transform: rotate(225deg) scale(1, -1);
  -ms-transform: rotate(225deg) scale(1, -1);
  transform: rotate(225deg) scale(1, -1);
  background: url('/static/img/main_page/arrow_slogan.jpg') no-repeat 0 0;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.store_about .step_work .step_3:hover:after {
  opacity: 1;
}
.store_about .pay_panel {
  position: relative;
  width: 640px;
  height: 284px;
  text-align: center;
  margin: 100px auto 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #DBDBDB;
}
.store_about .pay_panel:before {
  position: absolute;
  width: 143px;
  height: 143px;
  content: '';
  top: -71px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  background: #ffffff url('/static/img/pay_logo.png') no-repeat 0 0;
}
.store_about .pay_panel .title {
  margin-top: 90px;
  color: #1e78b0;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.store_about .list_rule .item .title {
  overflow: hidden;
  padding-bottom: 20px;
}
.store_about .list_rule .item .title .txt {
  height: 22px;
  margin-top: 22px;
  margin-left: 30px;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px dashed black;
  cursor: pointer;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_about .list_rule .item .title .btn {
  position: relative;
  width: 190px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: #62b439;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_about .list_rule .item .title .btn span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.store_about .list_rule .item .title .dashed_brd:before {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 176px;
  height: 22px;
  content: '';
  border: 1px dashed #bade9c;
}
.store_about .list_rule .item .text {
  height: 0;
  margin-left: 4px;
  color: #616161;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_about .list_rule .item .text .wrap {
  position: relative;
  padding: 10px 0 0 20px;
}
.store_about .list_rule .item .text .wrap .close {
  position: absolute;
  bottom: -10px;
  right: 10px;
  padding-right: 35px;
  color: #000000;
  font-size: 12px;
  line-height: 30px;
  z-index: 1;
  cursor: pointer;
  background: url('/static/img/close_rule.png') no-repeat 100% 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
