@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,600,700italic|PT+Sans:400,400italic,700|Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext');
@font-face {
  font-family: SegoeUIRegular;
  src: url('/static/fonts/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('/static/fonts/SegoeUIRegular/SegoeUIRegular.eot#iefix') format("embedded-opentype"), url('/static/fonts/SegoeUIRegular/SegoeUIRegular.woff') format("woff"), url('/static/fonts/SegoeUIRegular/SegoeUIRegular.ttf') format("truetype");
}
.segoeui {
  font-family: SegoeUIRegular;
  font-style: normal;
  font-weight: normal;
}
.open_sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open_sans_light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open_sans_bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.open_sans_italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.open_sans_sbold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.open_sans_ibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.cond_i {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
.cond_b {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.pt_sans {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.pt_sans_i {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.pt_sans_b {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.cut {
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.recut {
  -moz-transform: skew(12deg, 0);
  -o-transform: skew(12deg, 0);
  -webkit-transform: skew(12deg, 0);
  transform: skew(12deg, 0);
  -ms-transform: skew(12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.bending {
  -moz-transform: skew(0, -3.5deg);
  -ms-transform: skew(0, -3.5deg);
  -webkit-transform: skew(0, -3.5deg);
  -o-transform: skew(0, -3.5deg);
  transform: skew(0, -3.5deg);
}
.animate_1second {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
/*store cupons*/
.store_list_cupon {
  position: relative;
  width: 704px;
  list-style: none;
}
.store_list_cupon li {
  position: relative;
  padding: 20px;
  margin-bottom: 22px;
  border: 1px solid #dfdfdf;
  background: #ffffff;
}
.store_list_cupon li .right_panel {
  position: relative;
  width: 450px;
}
.store_list_cupon li:before {
  position: absolute;
  width: 1px;
  height: 98%;
  top: 1px;
  left: 230px;
  content: '';
  background: url('/static/img/cupon_line.png') repeat-y 0 0;
}
.store_list_cupon li .image {
  position: relative;
  display: block;
  width: 190px;
  height: 80px;
  margin-right: 20px;
}
.store_list_cupon li .image img {
  position: absolute;
  max-width: 190px;
  max-height: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.store_list_cupon li .cach_back {
  display: inline-block;
  width: 160px;
  padding: 5px 0;
  margin-left: -10px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background: #FF8900;
  cursor: pointer;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .title {
  width: 290px;
  margin-top: 10px;
  margin-left: 20px;
  color: #616161;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .title a {
  color: #ED5500;
  text-transform: uppercase;
  text-decoration: none;
}
.store_list_cupon li .promo {
  width: 120px;
  right: 20px;
  color: #616161;
  font-size: 12px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.store_list_cupon li .promo .code {
  margin-top: 5px;
  padding: 5px 0;
  color: #ed5500;
  font-size: 16px;
  text-transform: uppercase;
  background: #FEEEE5;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .promo .code span {
  display: inline-block;
  -moz-transform: skew(12deg, 0);
  -o-transform: skew(12deg, 0);
  -webkit-transform: skew(12deg, 0);
  transform: skew(12deg, 0);
  -ms-transform: skew(12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_list_cupon li .promo .code.off {
  color: #616161;
}
.store_list_cupon li .promo .lnk {
  color: #3378b0;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .final_time,
.store_list_cupon li .count_people {
  margin-left: 20px;
  padding-left: 20px;
  color: #1e1e1e;
  font-size: 12px;
  background: url('/static/img/cupon_ico.png') no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.store_list_cupon li .final_time .inf,
.store_list_cupon li .count_people .inf {
  color: #519e2b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .final_time {
  margin-top: 20px;
  background-position: 0 3px;
}
.store_list_cupon li .count_people {
  background-position: 0 -16px;
}
.store_list_cupon li .all_pupons {
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.store_list_cupon li .all_pupons:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 8px;
  content: '';
  background: #FF8900;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_list_cupon li .all_pupons .name {
  color: #2a2f33;
  text-decoration: underline;
}
.store_list_cupon li .all_pupons .count {
  color: #1e78b0;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .btn {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  background: #62B439;
  cursor: pointer;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_list_cupon li .btn:hover {
  background: #ED5500;
}
