@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,600,700italic|PT+Sans:400,400italic,700|Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext');
@font-face {
  font-family: SegoeUIRegular;
  src: url('/static/fonts/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('/static/fonts/SegoeUIRegular/SegoeUIRegular.eot#iefix') format("embedded-opentype"), url('/static/fonts/SegoeUIRegular/SegoeUIRegular.woff') format("woff"), url('/static/fonts/SegoeUIRegular/SegoeUIRegular.ttf') format("truetype");
}
.segoeui {
  font-family: SegoeUIRegular;
  font-style: normal;
  font-weight: normal;
}
.open_sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open_sans_light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open_sans_bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.open_sans_italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.open_sans_sbold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.open_sans_ibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.cond_i {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
}
.cond_b {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.pt_sans {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.pt_sans_i {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.pt_sans_b {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.cut {
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.recut {
  -moz-transform: skew(12deg, 0);
  -o-transform: skew(12deg, 0);
  -webkit-transform: skew(12deg, 0);
  transform: skew(12deg, 0);
  -ms-transform: skew(12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.bending {
  -moz-transform: skew(0, -3.5deg);
  -ms-transform: skew(0, -3.5deg);
  -webkit-transform: skew(0, -3.5deg);
  -o-transform: skew(0, -3.5deg);
  transform: skew(0, -3.5deg);
}
.animate_1second {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
/*Base class*/
.wrapper {
  position: relative;
  width: 1040px;
  margin: 0 auto;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text_left {
  text-align: left !important;
}
.text_right {
  text-align: right !important;
}
.text_center {
  text-align: center !important;
}
.clear {
  clear: both;
}
.clearfix:after {
  display: block;
  width: 100%;
  height: 1%;
  clear: both;
  overflow: hidden;
  content: '';
}
.hidden {
  display: none !important;
}
.indent_top_10 {
  margin-top: 10px !important;
}
.indent_top_20 {
  margin-top: 20px !important;
}
.indent_left_20 {
  margin-left: 20px !important;
}
.indent_right_20 {
  margin-right: 20px !important;
}
body,
html {
  height: 100%;
}
body {
  font-size: 14px;
  background-color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
b,
strong {
  font-weight: 700;
}
a:hover {
  text-decoration: none;
}
.main_content {
  min-height: 100%;
  overflow: hidden;
}
.middle_content {
  padding-bottom: 480px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
  line-height: .9;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
  line-height: 1.4;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 14px;
}
/*top cupons block*/
.cupons_block {
  position: relative;
  width: 100%;
  height: 60px;
  padding-bottom: 5px;
  margin: 0 auto;
  background: url('/static/img/cupons_bg.png') no-repeat center top;
}
.cupons_block .wrapper {
  height: 100%;
}
.cupons_block .close {
  position: absolute;
  bottom: 5px;
  right: 40px;
  color: #ffffff;
  font-size: 12px;
}
.cupons_block .content {
  position: relative;
}
.cupons_block .content .bnr_list {
  list-style: none;
}
.cupons_block .content .bnr_list li {
  width: 766px;
  position: absolute;
  opacity: 0;
  z-index: 10;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.cupons_block .content .bnr_list li:first-child {
  opacity: 1;
}
.cupons_block .content .all_cupons {
  display: block;
  width: 230px;
  height: 60px;
  margin-left: 20px;
  text-decoration: none;
}
.cupons_block .content .left_bnr {
  width: 570px;
}
.cupons_block .content .left_bnr .image {
  position: relative;
  display: block;
  width: 120px;
  height: 50px;
  margin-top: 6px;
  margin-left: 40px;
  text-decoration: none;
}
.cupons_block .content .left_bnr .image img {
  position: absolute;
  max-width: 120px;
  max-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cupons_block .content .left_bnr .ttl {
  display: block;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  color: #ed5500;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.cupons_block .content .left_bnr .other_cupon {
  position: relative;
  padding-left: 10px;
  color: #2a2f33;
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.cupons_block .content .left_bnr .other_cupon:before {
  position: absolute;
  top: 45%;
  left: 0;
  width: 5px;
  height: 8px;
  margin-top: -2px;
  content: '';
  background: #FF8900;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.cupons_block .content .left_bnr .bnr_btn {
  display: inline-block;
  min-width: 150px;
  max-width: 180px;
  margin-top: 8px;
  padding: 0 5px;
  line-height: 30px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8900;
  overflow: hidden;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.cupons_block .content .right_brn {
  width: 160px;
  text-align: center;
}
.cupons_block .content .right_brn .ttl {
  margin-top: 5px;
  color: #ffffff;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.cupons_block .content .right_brn .brn_code {
  display: inline-block;
  width: 100px;
  line-height: 18px;
  background: #ffffff;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.cupons_block .content .right_brn .brn_code span {
  display: inline-block;
  color: #ed5500;
  font-size: 12px;
  -moz-transform: skew(12deg, 0);
  -o-transform: skew(12deg, 0);
  -webkit-transform: skew(12deg, 0);
  transform: skew(12deg, 0);
  -ms-transform: skew(12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.cupons_block .content .right_brn .brn_code .copy_code {
  cursor: pointer;
}
/*main logo*/
.main_logo {
  display: block;
  width: 318px;
  height: 85px;
  background: url('/static/img/logo.png') no-repeat;
}
/*search field*/
.search_field {
  display: inline-block;
  cursor: pointer;
}
.search_field .input,
.search_field .submit,
.search_field .search_back {
  display: none;
}
.search_field .search_back {
  width: 300px;
  height: 37px;
  padding: 0 20px;
  border: 1px solid #d2d2d2;
  background: #fbfbfb;
  background: -moz-linear-gradient(45deg, #fbfbfb 0%, #f7f7f7 15%, #f7f7f7 88%, #fbfbfb 100%);
  background: -webkit-linear-gradient(45deg, #fbfbfb 0%, #f7f7f7 15%, #f7f7f7 88%, #fbfbfb 100%);
  background: linear-gradient(45deg, #fbfbfb 0%, #f7f7f7 15%, #f7f7f7 88%, #fbfbfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#fbfbfb', GradientType=1);
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.search_field .input {
  position: absolute;
  top: 1px;
  left: 0;
  width: 280px;
  height: 37px;
  padding: 0 0 0 20px;
  color: #6c6c6c;
  font-size: 14px;
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.search_field .submit {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  z-index: 1;
  background: none;
  background: url('/static/img/search_btn.png') no-repeat;
}
.search_field .search_stub {
  padding-right: 40px;
  line-height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  background: url('/static/img/search_stub.png') no-repeat right center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.search_field .search_stub span {
  display: inline-block;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.search_field .autocompl_block {
  display: none;
  position: absolute;
  top: 38px;
  left: -3px;
  width: 99%;
  list-style: none;
  z-index: 10;
  border: 1px solid #d2d2d2;
  background: #ffffff;
}
.search_field .autocompl_block a {
  display: block;
  padding: 5px 10px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.search_field .autocompl_block a:hover {
  background: #eeeeee;
}
.search_field .autocompl_block .show_all {
  font-size: 18px;
  color: #3F72FF;
}
.search_field:hover .input,
.search_field:hover .submit,
.search_field:hover .search_back,
.search_field:hover .autocompl_block {
  display: block;
}
.search_field:hover .search_stub {
  display: none;
}
/*switch baner*/
.main_switch_banner {
  width: 178px;
  height: 39px;
  color: #ffffff;
  text-align: center;
  line-height: 39px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  background-color: #000000;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.main_switch_banner:hover {
  background-color: #63B539;
}
.column_left {
  width: 300px;
}
.column_right {
  width: 704px;
  margin-left: 15px;
}
/*for register user*/
.register_header {
  margin-bottom: 20px;
}
.register_header .user_panel {
  width: 100%;
  height: 39px;
  background: #1E78B0;
}
.register_header .user_panel .wrapper:before {
  position: absolute;
  width: 100%;
  height: 39px;
  top: 0;
  left: 100%;
  content: '';
  background: #ff8900;
}
.register_header .user_panel .top_menu {
  list-style: none;
  margin-left: 7px;
}
.register_header .user_panel .top_menu li {
  float: left;
  margin-left: 20px;
  padding: 7px 0;
}
.register_header .user_panel .top_menu li a {
  position: relative;
  display: inline-block;
  color: #b0e8ff;
  font-size: 16px;
  text-decoration: none;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.register_header .user_panel .top_menu li a:before {
  position: absolute;
  width: 3px;
  height: 5px;
  left: -10px;
  bottom: 4px;
  content: '';
  background: #b0e8ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.register_header .user_panel .top_menu li:first-child a:before {
  display: none;
}
.register_header .user_panel .user_info {
  position: relative;
  height: 39px;
  margin-left: 5px;
  padding-left: 20px;
  background: #ff8900;
}
.register_header .user_panel .user_info .login,
.register_header .user_panel .user_info .sign_in {
  position: relative;
  display: inline-block;
  margin-top: 7px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.register_header .user_panel .user_info .login {
  margin-left: 20px;
  margin-right: 15px;
}
.register_header .user_panel .user_info .sign_in {
  margin-right: 20px;
}
.register_header .user_panel .user_info .sign_in:before {
  position: absolute;
  width: 3px;
  height: 5px;
  left: -10px;
  bottom: 4px;
  content: '';
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.register_header .user_panel .user_info .balans {
  position: relative;
}
.register_header .user_panel .user_info .balans .lnk {
  display: inline-block;
  margin-top: 9px;
  padding-left: 25px;
  color: #ffeb00;
  font-size: 14px;
  background: url('/static/img/user_panel_ico.png') no-repeat 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.register_header .user_panel .user_info .balans .rub {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.register_header .user_panel .user_info .balans .rub:before {
  position: absolute;
  top: 12px;
  left: 0;
  width: 6px;
  height: 1px;
  content: '';
  background: #ffeb00;
}
.register_header .user_panel .user_info .balans .balans_tooltip {
  display: none;
  position: absolute;
  width: 300px;
  top: 39px;
  left: 50%;
  margin-left: -150px;
  padding: 10px;
  color: #000000;
  font-size: 14px;
  line-height: 1.4;
  border: 2px solid #eeeeee;
  background: #ffffff;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.register_header .user_panel .user_info .balans:hover .balans_tooltip {
  display: block;
}
.register_header .user_panel .user_info .user_menu {
  position: relative;
  margin: 0 30px 0 20px;
}
.register_header .user_panel .user_info .user_menu .user_menu_title {
  min-width: 160px;
  padding-left: 25px;
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  background: url('/static/img/user_panel_ico.png') no-repeat 0 -75px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.register_header .user_panel .user_info .user_menu .user_menu_title .dotted {
  display: inline-block;
  line-height: 1.1;
  border-bottom: 1px dashed #ffffff;
}
.register_header .user_panel .user_info .user_menu .list {
  position: absolute;
  display: none;
  top: 0;
  left: -11px;
  width: 100%;
  padding: 0 10px;
  list-style: none;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: #7cb44d;
  z-index: 10;
}
.register_header .user_panel .user_info .user_menu .list li {
  position: relative;
  margin: 10px 0 10px 13px;
}
.register_header .user_panel .user_info .user_menu .list li:before {
  position: absolute;
  width: 3px;
  height: 5px;
  left: -8px;
  top: -1px;
  margin: 10px 0;
  content: '';
  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.register_header .user_panel .user_info .user_menu .list li:first-child {
  margin-top: 0;
  margin-left: 0;
}
.register_header .user_panel .user_info .user_menu .list li:first-child:before {
  display: none;
}
.register_header .user_panel .user_info .user_menu .list li:last-child {
  margin-bottom: 20px;
}
.register_header .user_panel .user_info .user_menu .list a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.register_header .user_panel .user_info .user_menu .list li:last-child a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.register_header .user_panel .user_info .user_menu .list a:hover {
  color: #000000;
}
.register_header .user_panel .user_menu:hover .title {
  color: #ffeb00;
}
.register_header .user_panel .user_menu:hover .list {
  display: block;
}
.register_header .user_panel .user_info:before,
.register_header .user_panel .user_info:after {
  position: absolute;
  top: 0;
  content: '';
  width: 5px;
  height: 39px;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.register_header .user_panel .user_info:before {
  left: -5px;
  background: #ffffff;
}
.register_header .user_panel .user_info:after {
  left: 0;
  background: #ff8900;
}
.register_header .user_panel .back_to_store {
  height: 39px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 33px;
  background: #62b439;
  cursor: pointer;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.register_header .user_panel .back_to_store:hover {
  background: #ed5500;
}
.register_header .header_panel {
  width: 100%;
  height: 173px;
  background: #ffffff url('/static/img/register_hearer_back.png') repeat-x left 167px;
}
.register_header .header_panel .main_logo {
  margin-top: 15px;
  margin-left: 40px;
}
.register_header .header_panel .search_field {
  position: absolute;
  top: 57px;
  left: 459px;
}
.register_header .header_panel .search_field .search_back {
  width: 254px;
  margin-left: -70px;
}
.register_header .header_panel .search_field .input {
  left: -73px;
  width: 230px;
}
.register_header .header_panel .search_field .autocompl_block {
  left: -73px;
  width: 291px;
}
.register_header .header_panel .video,
.register_header .header_panel .gift {
  display: block;
  width: 150px;
  height: 46px;
  margin-top: 49px;
  margin-left: 18px;
}
.register_header .header_panel .video .hover,
.register_header .header_panel .gift .hover {
  display: block;
  width: 150px;
  height: 46px;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.register_header .header_panel .video {
  background: url('/static/img/videocat_hover.png') no-repeat;
}
.register_header .header_panel .gift {
  margin-right: 20px;
  background: url('/static/img/bonuscat_hover.png') no-repeat;
}
.register_header .header_panel .video .hover {
  background: url('/static/img/videocat.png') no-repeat;
}
.register_header .header_panel .gift .hover {
  background: url('/static/img/bonuscat.png') no-repeat;
}
.register_header .header_panel .gift:hover .hover,
.register_header .header_panel .video:hover .hover {
  opacity: 0;
}
.register_header .bread_crumbs {
  margin-top: 34px;
  margin-left: 20px;
}
.register_header .header_cupon {
  height: 184px;
  background: #ffffff url('/static/img/background_cupons.png') no-repeat center top;
}
.bread_crumbs {
  list-style: none;
  overflow: hidden;
}
.bread_crumbs li {
  position: relative;
  float: left;
  padding-right: 5px;
}
.bread_crumbs li a {
  margin: 0 8px;
  color: #464646;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.bread_crumbs li a:hover {
  color: #000000;
}
.bread_crumbs li a.active {
  color: #37779f;
  text-decoration: none;
}
.bread_crumbs li:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '/';
  color: #464646;
  font-size: 15px;
}
.bread_crumbs li:last-child:before {
  display: none;
}
.small_bread_crumbs {
  margin: 10px 0px;
  color: #3d3c3c;
  text-decoration: underline;
}
.small_bread_crumbs li a,
.small_bread_crumbs li a.active {
  color: #3d3c3c;
  font-size: 12px;
}
.main_page_title {
  margin-left: 5px;
  color: #1E78B0;
  text-transform: uppercase;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.main_page_title_orange {
  margin-bottom: 20px;
  color: #ed5500;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.main_page_title_middle {
  margin: 20px 0 20px 10px;
  color: #616161;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.main_page_text {
  margin: 15px 5px;
  color: #2a2f33;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.response_list {
  width: 390px;
  margin-top: 26px;
  margin-left: 10px;
}
.response_list h2 {
  margin-left: 26px;
  font-size: 30px;
}
.response_list .item {
  margin-top: 24px;
}
.response_list .item .image {
  display: block;
  width: 104px;
  height: 104px;
  text-transform: none;
  border: 8px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.response_list .item .image img {
  max-width: 104px;
  max-height: 104px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.response_list .item .image:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.response_list .item .text {
  width: 260px;
  margin-left: 10px;
  color: #2e3f49;
  font-size: 14px;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.response_list .item .text .name {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.response_list .item .text .city {
  color: #737373;
}
.response_list .item .text .lnk {
  color: #54a90e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
.response_list .all_response_list {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  margin-left: 24px;
  margin-top: 60px;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  background: #60b43a;
  background: -moz-linear-gradient(45deg, #60b43a 0%, #83cb5d 50%, #60b43a 100%);
  background: -webkit-linear-gradient(45deg, #60b43a 0%, #83cb5d 50%, #60b43a 100%);
  background: linear-gradient(45deg, #60b43a 0%, #83cb5d 50%, #60b43a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#60b43a', endColorstr='#60b43a', GradientType=1);
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.response_list .all_response_list:hover {
  background: #1b1f21;
  background: -moz-linear-gradient(45deg, #1b1f21 0%, #2a2f33 34%, #2a2f33 64%, #1b1f21 100%);
  background: -webkit-linear-gradient(45deg, #1b1f21 0%, #2a2f33 34%, #2a2f33 64%, #1b1f21 100%);
  background: linear-gradient(45deg, #1b1f21 0%, #2a2f33 34%, #2a2f33 64%, #1b1f21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b1f21', endColorstr='#1b1f21', GradientType=1);
}
.about_service {
  width: 370px;
  margin-top: 36px;
  margin-left: 30px;
}
.about_service .title {
  color: #1e78b0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.about_service p {
  margin-top: 10px;
  color: #2e3f49;
  font-size: 14px;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
/*popular*/
.main_popular_indent {
  margin-top: -40px;
}
.popular_section {
  position: relative;
}
.popular_section .text_style {
  position: relative;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  background: url('/static/img/dotted.png') repeat-x bottom;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.popular_section .switch {
  position: relative;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  background: url('/static/img/dotted.png') repeat-x bottom;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.popular_section .switch:before {
  position: absolute;
  width: 17px;
  height: 11px;
  left: -20px;
  top: 6px;
  content: '';
  background: url('/static/img/arrow_blue.png') no-repeat;
}
.popular_section .list {
  display: none;
  position: absolute;
  top: -21px;
  right: -37px;
  width: 200px;
  padding: 20px;
  border: 1px solid #c7c7c7;
  background: #ffffff;
  z-index: 10;
}
.popular_section .list .title {
  display: inline-block;
  position: relative;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  background: url('/static/img/dotted.png') repeat-x bottom;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.popular_section .list ul {
  margin-top: 10px;
  list-style: none;
}
.popular_section .list ul li {
  padding: 2px 0;
}
.popular_section .list ul a {
  color: #175d88;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.popular_section:hover .list {
  display: block;
}
.show_more {
  width: 702px;
  position: relative;
  height: 60px;
  background: #ffffff;
}
.show_more .lnk {
  position: relative;
  display: inline-block;
  margin-top: 27px;
  margin-left: 45px;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: url('/static/img/dotted.png') repeat-x left bottom;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.show_more .lnk:hover {
  background: none;
}
.show_more .lnk:before {
  position: absolute;
  content: '';
  width: 17px;
  height: 11px;
  top: 7px;
  left: -20px;
  background: url('/static/img/arrow_show_more.png') no-repeat;
}
.show_more .lnk:hover:before {
  background: url('/static/img/arrow_blue.png') no-repeat;
}
.show_more:before,
.show_more:after {
  position: absolute;
  left: 0;
  content: '';
}
.show_more:before {
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 704px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
.show_more:after {
  bottom: -19px;
  width: 704px;
  height: 4px;
  -moz-transform: skew(0, -2.5deg);
  -ms-transform: skew(0, -2.5deg);
  -webkit-transform: skew(0, -2.5deg);
  -o-transform: skew(0, -2.5deg);
  transform: skew(0, -2.5deg);
  background: #bebebf;
}
/*brand list*/
.brand_list {
  width: 585px;
  margin-top: 20px;
  margin-right: 20px;
}
.brand_list h2 {
  margin-left: 14px;
  margin-bottom: 28px;
}
.brand_list .search_field {
  position: relative;
  margin-top: 12px;
}
.brand_list .search_field .input,
.brand_list .search_field .submit,
.brand_list .search_field .search_back {
  display: block;
}
.brand_list .item {
  position: relative;
  width: 195px;
  height: 230px;
  cursor: pointer;
  border-bottom: 2px solid #f0f0f0;
  background: #ffffff;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.brand_list .item .lnk {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 195px;
  height: 230px;
  text-decoration: none;
}
.brand_list .item .image {
  position: relative;
  display: block;
  width: 125px;
  height: 40px;
  margin: 30px auto 0;
}
.brand_list .item .image img {
  position: absolute;
  max-width: 125px;
  max-height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.brand_list .item .text {
  display: block;
  width: 158px;
  padding: 0 20px;
  margin: 10px auto 0;
  color: #000000;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  overflow: hidden;
}
.brand_list .item .cash_back {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 124px;
  padding: 4px 10px;
  margin: auto;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background: #ff4e00;
  background: -moz-linear-gradient(45deg, #ff4e00 0%, #ff8b00 38%, #ff8b00 68%, #ff4e00 100%);
  background: -webkit-linear-gradient(45deg, #ff4e00 0%, #ff8b00 38%, #ff8b00 68%, #ff4e00 100%);
  background: linear-gradient(45deg, #ff4e00 0%, #ff8b00 38%, #ff8b00 68%, #ff4e00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e00', endColorstr='#ff4e00', GradientType=1);
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.brand_list .item:hover {
  background: #f0f0f0;
}
.brand_list .item:hover .cash_back {
  background: #0f3c88;
  background: -moz-linear-gradient(45deg, #0f3c88 0%, #1e78b0 100%);
  background: -webkit-linear-gradient(45deg, #0f3c88 0%, #1e78b0 100%);
  background: linear-gradient(45deg, #0f3c88 0%, #1e78b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f3c88', endColorstr='#1e78b0', GradientType=1);
}
.brand_list .item:first-child:before {
  position: absolute;
  width: 90px;
  height: 88px;
  top: -9px;
  left: -14px;
  content: '';
  z-index: 0;
  background: url('/static/img/corner.png') no-repeat;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}
.brand_list .item:first-child:hover:before {
  opacity: 0;
}
.brand_list .item:nth-child(3) {
  -webkit-box-shadow: 72px -60px 50px -85px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 72px -60px 50px -85px rgba(0, 0, 0, 0.4);
  box-shadow: 72px -60px 50px -85px rgba(0, 0, 0, 0.4);
}
.brand_list .item:nth-child(3n+2):before,
.brand_list .item:nth-child(3n+2):after {
  position: absolute;
  width: 1px;
  height: 142px;
  top: 50%;
  margin-top: -71px;
  content: '';
  z-index: 1;
  background: url('/static/img/brand_border.png') no-repeat;
}
.brand_list .item:nth-child(3n+2):before {
  left: -1px;
}
.brand_list .item:nth-child(3n+2):after {
  right: -1px;
}
.brand_list .show_more {
  width: 585px;
  border: none;
}
.brand_list .show_more:before {
  border-width: 30px 585px 0 0;
}
.brand_list .show_more:after {
  width: 585px;
  -moz-transform: skew(0, -3deg);
  -ms-transform: skew(0, -3deg);
  -webkit-transform: skew(0, -3deg);
  -o-transform: skew(0, -3deg);
  transform: skew(0, -3deg);
}
/*search boxby cupon*/
.search_by_cupon {
  margin-bottom: 22px;
  padding: 20px 30px;
  border: 1px solid #dfdfdf;
  background: #ffffff;
}
.search_by_cupon .title {
  margin-top: -10px;
  margin-bottom: 5px;
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.search_by_cupon .lnk_panel {
  margin-top: 8px;
}
.search_by_cupon .lnk_panel a {
  margin-right: 10px;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  opacity: .5;
  text-decoration: none;
  border-bottom: 1px dashed #000000;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.search_by_cupon .lnk_panel .active {
  opacity: 1;
}
.search_by_cupon .search_field {
  position: relative;
}
.search_by_cupon .search_field .input,
.search_by_cupon .search_field .submit,
.search_by_cupon .search_field .search_back {
  display: block;
}
.pay_list {
  list-style: none;
  overflow: hidden;
  margin-top: 20px;
}
.pay_list li {
  float: left;
}
.pay_list li a {
  display: inline-block;
  padding-top: 80px;
  color: #464646;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-image: url('/static/img/pay_card.png');
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.pay_list li a:hover {
  color: #1e78b0;
}
.pay_list .phone a {
  width: 90px;
  margin-left: 6px;
  background-position: 17px 0;
}
.pay_list .webmoney a {
  width: 80px;
  background-position: -80px 0;
}
.pay_list .qiwi a {
  width: 50px;
  margin-left: 10px;
  background-position: -190px 0;
}
.pay_list .yandex a {
  width: 90px;
  margin-left: 5px;
  background-position: -270px 0;
}
.pay_list .master a {
  width: 100px;
  background-position: -365px 0;
}
.pay_list .visa a {
  width: 84px;
  margin-left: 20px;
  background-position: -497px 0;
}
.pay_list .paypal a {
  width: 80px;
  margin-left: 10px;
  background-position: -590px 0;
}
/*brand list for register user*/
.register_user {
  margin-top: 30px;
  margin-right: 40px;
}
.register_user .switch {
  font-size: 17px;
}
.register_user .count_store {
  margin-top: 15px;
  color: #ed5500;
  font-size: 20px;
  text-transform: uppercase;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.register_user .search_field {
  margin-top: 0;
}
.register_user .popular_section .title {
  font-size: 17px;
}
.register_user .popular_section .list {
  right: -48px;
}
.register_user .item_list {
  margin-top: 40px;
}
.more_store {
  display: inline-block;
  margin-bottom: 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
/*store page element*/
.store_web {
  display: inline-block;
  position: relative;
  margin-left: 22px;
  color: #2a2f33;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}
.store_web:before {
  position: absolute;
  content: '';
}
.store_web:before {
  top: 6px;
  left: -15px;
  width: 7px;
  height: 13px;
  background: #FF8900;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.set_favorite {
  width: 20px;
  height: 15px;
  display: inline-block;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
  background: url('/static/img/heart.png') no-repeat 0 0;
}
.set_favorite:hover {
  background-image: url('/static/img/favorite.png');
}
.store_logo {
  display: block;
  position: relative;
  width: 284px;
  height: 124px;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(68, 76, 80, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.store_logo img {
  position: absolute;
  max-width: 280px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.store_logo .tite {
  position: absolute;
  display: inline-block;
  width: 150px;
  padding: 5px 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -28px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background: #FF8900;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_logo:hover .tite {
  background: #8ac757;
}
.store_info {
  margin-bottom: 20px;
  color: #464646;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_info .lnk {
  display: inline-block;
  color: #1e78b0;
  text-decoration: none;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_recomend {
  width: 290px;
  margin-bottom: 10px;
  color: #464646;
  font-size: 18px;
}
.store_recomend tbody tr {
  border-bottom: 1px dashed #1e78b0;
}
.store_recomend td,
.store_recomend th {
  padding: 2px 0;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_recomend .tite a {
  color: #1e78b0;
  text-decoration: none;
}
.store_recomend .sale {
  color: #ed5500;
}
.store_more {
  display: inline-block;
  margin-bottom: 40px;
  color: #46464b;
  font-size: 16px;
  text-decoration: none;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_more:hover {
  color: #1e78b0;
}
.store_descr {
  width: 290px;
}
.store_descr .store_descr_title,
.store_descr h2 {
  margin-bottom: 15px;
  color: #616161;
  font-size: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.store_descr p {
  margin-bottom: 15px;
  color: #616161;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.column_right > h1 {
  margin-left: 30px;
  margin-bottom: 15px;
  color: #464646;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_title_midle {
  margin-left: 30px;
  margin-bottom: 60px;
  color: #ed5500;
  font-size: 20px;
  text-transform: uppercase;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_title_midle a {
  color: #ed5500;
  text-decoration: none;
}
.store_title_midle a:hover {
  text-decoration: underline;
}
.btn_panel {
  margin-left: 20px;
}
.store_info_lnk {
  display: inline-block;
  position: relative;
  height: 30px;
  color: #ffffff;
  line-height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.store_info_lnk.green {
  width: 390px;
}
.store_info_lnk.green .green,
.store_info_lnk.green .orange {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 30px;
}
.store_info_lnk.green .green {
  opacity: 1;
  background: #61b339;
  background: -moz-linear-gradient(45deg, #61b339 0%, #8ac757 28%, #8ac757 69%, #8ac757 100%);
  background: -webkit-linear-gradient(45deg, #61b339 0%, #8ac757 28%, #8ac757 69%, #8ac757 100%);
  background: linear-gradient(45deg, #61b339 0%, #8ac757 28%, #8ac757 69%, #8ac757 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61b339', endColorstr='#8ac757', GradientType=1);
  z-index: 2;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_info_lnk.green .orange {
  opacity: 1;
  background: #ff6000;
  background: -moz-linear-gradient(45deg, #ff6000 0%, #ff8900 18%, #ff8900 69%, #ff8900 100%);
  background: -webkit-linear-gradient(45deg, #ff6000 0%, #ff8900 18%, #ff8900 69%, #ff8900 100%);
  background: linear-gradient(45deg, #ff6000 0%, #ff8900 18%, #ff8900 69%, #ff8900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6000', endColorstr='#ff8900', GradientType=1);
  z-index: 1;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_info_lnk.green .txt {
  position: absolute;
  display: inline-block;
  width: 390px;
  height: 30px;
  left: 0;
  top: 0;
  text-transform: uppercase;
  z-index: 3;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_info_lnk.orange {
  width: 150px;
  margin: 0 7px;
  background: #FF8A00;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_info_lnk.orange:hover {
  background: #FFA328;
}
.store_info_lnk.blue {
  width: 104px;
  margin-right: 25px;
  background: #0079B3;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.store_info_lnk.blue:hover {
  background: #008DD0;
}
/*fix background*/
.back_modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: url('/static/img/backdrop.png') repeat;
}
.back_modal .modal_window {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
}
.back_modal .modal_window .modal_body {
  position: relative;
}
.back_modal .modal_window .modal_body > .close {
  position: absolute;
  top: -40px;
  right: -40px;
  display: block;
  width: 33px;
  height: 33px;
  text-decoration: none;
  background: url('/static/img/close_modal.png') no-repeat 0 0;
}
.fix_backgr {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: url('/static/img/backdrop.png') repeat;
}
.fix_backgr .modal_body {
  position: relative;
  width: 100%;
}
.fix_backgr .top_subs {
  position: absolute;
  top: -44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  background: #8ac757;
  -moz-transform: skew(0, -3.5deg);
  -ms-transform: skew(0, -3.5deg);
  -webkit-transform: skew(0, -3.5deg);
  -o-transform: skew(0, -3.5deg);
  transform: skew(0, -3.5deg);
}
.fix_backgr .circle {
  position: relative;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 60px;
  background: url('/static/img/fix_backgr.png') no-repeat 46% bottom;
}
.fix_backgr .close_fix_backgr {
  position: absolute;
  top: 10px;
  right: 40px;
  display: block;
  width: 17px;
  height: 17px;
  background: url('/static/img/close_ico.png') no-repeat 0 0;
}
.fix_backgr:before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  content: '';
  background: #8ac757;
}
.add_block {
  position: relative;
  padding: 20px 30px 40px;
  color: #464646;
  font-size: 20px;
  text-align: center;
  background: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.add_block p {
  margin-top: 20px;
}
.add_block .close {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  top: 10px;
  right: 15px;
  background: url('/static/img/close_add_block.png') no-repeat 0 0;
}
/*category list in top wrapper*/
.main_category_list {
  list-style: none;
  margin-top: 15px;
  margin-left: 40px;
}
.main_category_list li {
  width: 225px;
  padding: 10px 0;
}
.main_category_list a {
  position: relative;
  display: inline-block;
  color: #000000;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  border-bottom: 2px solid #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.main_category_list a:hover:before {
  position: absolute;
  width: 100%;
  height: 20px;
  left: -10px;
  top: -10px;
  padding: 10px;
  content: '';
  background: #b8e591;
  z-index: -1;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.middle_category_list {
  list-style: none;
  margin-top: 18px;
  margin-left: 10px;
}
.middle_category_list li {
  width: 200px;
  padding: 4px 0;
}
.middle_category_list a {
  position: relative;
  display: inline-block;
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.middle_category_list a:hover:before {
  position: absolute;
  width: 100%;
  height: 20px;
  left: -10px;
  top: -2px;
  padding: 4px 10px;
  content: '';
  background: #b8e591;
  z-index: -1;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.middle_category_list_indent {
  margin-left: 70px;
}
/*form elements in top fix panel*/
.sign_in_form {
  margin-left: 210px;
}
.register_form {
  margin-left: 40px;
}
.title_form {
  margin-top: 25px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.info_form {
  margin-top: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.field_form {
  position: relative;
  margin-top: 20px;
}
.field_form .checkbox_elem {
  position: relative;
}
.field_form .subs_input,
.field_form .subs_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  background: #B8E591;
  z-index: 1;
}
.field_form .subs_input {
  width: 265px;
  height: 39px;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.field_form .subs_checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.field_form .subs_checkbox.checked {
  background-repeat: no-repeat;
  background-image: url('/static/img/checked_ico.png');
  background-position: center center;
}
.field_form input[type="text"],
.field_form input[type="password"] {
  position: relative;
  width: 245px;
  height: 29px;
  padding: 5px 10px;
  color: #000000;
  font-size: 16px;
  border: none;
  background: none;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.field_form input[type="checkbox"] {
  height: 20px;
  width: 20px;
  opacity: 0;
  border: none;
  background: none;
}
.field_form label.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: #cd0000;
  font-size: 16px;
  white-space: nowrap;
  z-index: 10;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.indent_left_field {
  margin-left: 74px;
}
.form_lnk {
  display: inline-block;
  margin-top: 20px;
  color: #ecffdb;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.accept_rules {
  margin-left: 15px;
}
.button_form {
  display: inline-block;
  width: 265px;
  height: 39px;
  padding: 5px 0;
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: #ff6000;
  background: -moz-linear-gradient(45deg, #ff6000 0%, #ff6700 15%, #ff8700 47%, #ff8900 74%, #ff8900 100%);
  background: -webkit-linear-gradient(45deg, #ff6000 0%, #ff6700 15%, #ff8700 47%, #ff8900 74%, #ff8900 100%);
  background: linear-gradient(45deg, #ff6000 0%, #ff6700 15%, #ff8700 47%, #ff8900 74%, #ff8900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6000', endColorstr='#ff8900', GradientType=1);
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}
.sign_in_soc_net {
  margin-left: 100px;
}
.main_form label {
  color: #000000;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.main_form .field {
  position: relative;
  height: 37px;
}
.main_form .field .subs_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  border: 1px solid #d2d2d2;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 21%, #f7f7f7 80%, #ffffff 99%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 21%, #f7f7f7 80%, #ffffff 99%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 21%, #f7f7f7 80%, #ffffff 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  z-index: 1;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.main_form .field .input_element {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7px;
  color: #7b7b7b;
  font-size: 16px;
  z-index: 2;
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.main_form .field:hover .subs_input {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/*modal window unlogin form*/
.form_unlog {
  padding-top: 25px;
}
.form_unlog .ttl {
  color: #464646;
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.form_unlog .ttl .blue {
  color: #1e78b0;
}
.form_unlog .in_social {
  margin-left: 20px;
  text-align: left;
  color: #000000;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.form_unlog .wtht_sale {
  display: inline-block;
  margin-top: 30px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 15px;
  line-height: 39px;
  text-decoration: none;
  text-transform: uppercase;
  background: #2d2d2d;
  background: -moz-linear-gradient(45deg, #2d2d2d 0%, #434343 27%, #434343 27%, #464646 100%);
  background: -webkit-linear-gradient(45deg, #2d2d2d 0%, #434343 27%, #434343 27%, #464646 100%);
  background: linear-gradient(45deg, #2d2d2d 0%, #434343 27%, #434343 27%, #464646 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#464646', GradientType=1);
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.form_unlog .main_form {
  width: 256px;
  margin: 20px 0 20px 20px;
}
.form_unlog .main_form .input_element {
  width: 220px !important;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.form_unlog .main_form .subs_input {
  border: none;
  background: #E7E7E7;
}
.form_unlog .main_form .button_form {
  width: 254px;
  margin-top: 0;
}
.form_unlog .main_form .button_form:hover {
  background: #ff6000;
  background: -moz-linear-gradient(45deg, #ff6000 0%, #ff6700 15%, #ff8700 47%, #ff8900 74%, #ff8900 100%);
  background: -webkit-linear-gradient(45deg, #ff6000 0%, #ff6700 15%, #ff8700 47%, #ff8900 74%, #ff8900 100%);
  background: linear-gradient(45deg, #ff6000 0%, #ff6700 15%, #ff8700 47%, #ff8900 74%, #ff8900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6000', endColorstr='#ff8900', GradientType=1);
}
.form_unlog .main_form .field:hover .subs_input {
  box-shadow: none;
}
/*promo block*/
.promo_title {
  width: 200px;
  margin-left: 5px;
  color: #616161;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.form_promo {
  width: 300px;
  margin-left: 70px;
  margin-bottom: 40px;
}
.form_promo label {
  display: block;
  margin-left: 5px;
}
.form_promo .field {
  margin-top: 5px;
  margin-bottom: 15px;
}
.form_promo .field input[type="text"] {
  width: 270px;
  padding: 0 15px;
}
.form_promo .field .for_select_box {
  position: relative;
  width: 100%;
  height: 38px;
  overflow: hidden;
}
.form_promo .field select {
  width: 110%;
  margin-left: 11px;
  padding: 0;
  cursor: pointer;
}
.form_promo .field .arrow {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 16px;
  height: 11px;
  background: #f8f8f8 url('/static/img/arrow_black.png') no-repeat 0 0;
  z-index: 3;
}
.form_promo textarea {
  width: 90%;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px 15px;
  color: #7b7b7b;
  font-size: 16px;
  border-color: #d2d2d2;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 21%, #f7f7f7 80%, #ffffff 99%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 21%, #f7f7f7 80%, #ffffff 99%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 21%, #f7f7f7 80%, #ffffff 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.form_promo .button_form {
  width: 290px;
  margin-top: 40px;
}
.form_promo .button_form:hover {
  background: #197abd;
  background: -moz-linear-gradient(45deg, #197abd 0%, #1b7fc0 20%, #269bce 47%, #269cce 66%, #269cce 100%);
  background: -webkit-linear-gradient(45deg, #197abd 0%, #1b7fc0 20%, #269bce 47%, #269cce 66%, #269cce 100%);
  background: linear-gradient(45deg, #197abd 0%, #1b7fc0 20%, #269bce 47%, #269cce 66%, #269cce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#197abd', endColorstr='#269cce', GradientType=1);
}
.error_label {
  position: absolute;
  left: 0;
  bottom: -17px;
  color: #ff0000;
  font-size: 13px;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
/*oferty*/
.oferty {
  width: 980px;
  margin: 0 auto;
  font-size: 12px;
  font-family: Arial;
}
.oferty p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/*contact*/
.contact {
  width: 970px;
  margin: 40px auto;
}
.contact .contact_title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  -moz-transform: skew(-12deg, 0);
  -o-transform: skew(-12deg, 0);
  -webkit-transform: skew(-12deg, 0);
  transform: skew(-12deg, 0);
  -ms-transform: skew(-12deg, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=-0.2125565616700213, M21=0, M22=1, SizingMethod='auto expand');
}
.contact .skype {
  margin-top: 20px;
  font-size: 17px;
  background: url('/static/img/skype.png') no-repeat 50px 50%;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.contact .form_promo {
  margin: 30px 0 0;
}
/*footer*/
.footer {
  position: relative;
  width: 100%;
  height: 350px;
  margin: -350px auto 0;
  background-color: #ffffff;
}
.footer .wrapper {
  height: 100%;
}
.footer .wrapper .footer_menu {
  position: absolute;
  width: 900px;
  list-style: none;
  overflow: hidden;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.footer .wrapper .footer_menu li {
  width: 250px;
  float: left;
  margin-left: 40px;
  margin-bottom: 8px;
}
.footer .wrapper .footer_menu a {
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.footer .wrapper .footer_menu a .arrow {
  width: 17px;
  height: 11px;
  margin-right: 10px;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  background: url('/static/img/arrow_show_more.png');
}
.footer .wrapper .footer_menu a:hover {
  color: #005e98;
}
.footer:before {
  position: absolute;
  top: -17%;
  left: 0;
  width: 100%;
  height: 300px;
  content: '';
  background: #ffffff;
  -moz-transform: skew(0, -3.5deg);
  -ms-transform: skew(0, -3.5deg);
  -webkit-transform: skew(0, -3.5deg);
  -o-transform: skew(0, -3.5deg);
  transform: skew(0, -3.5deg);
}
