<html>
<head>
    
    <script type="text/javascript">
    $(document).ready(function() {
    $('#form_id').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
                $('#success_div).html(response); // update the DIV
            },
            error: function(e, x, r) { // on error..
                $('#error_div).html(e); // update the DIV
            }
        });
        return false;
            });
        });
    </script>

<!--
    <script type="text/javascript">
            function search_number_cart() {
            document.getElementById('search_number_cart').style.display = "block";
            document.getElementById('search_number').style.display = "none";
            document.getElementById('search_account').style.display = "none";
            }
        </script>
-->

</head>
    <body>
    <h1>Leave a Suggestion Here</h1>
        {% if message %}
            {{ message }}
        {% endif %}
        <div>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit Feedback" />
            </form>
        </div>
    </body>
</html>
