﻿<!DOCTYPE html>
<html>
    {% load compile_static %}
    {% load static %}
    
    {% load compile_static %}
    {% load static %}
    {% load permissions_tags %}
    
<head>
    <meta charset="utf-8" />
    <title></title>
    
    {% block base_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eraser.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.less'|compile %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/store_about.less'|compile %}" />
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/store_list_cupon.less'|compile %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sdk-inline.css' %}" />
    {% endblock %}
    
    {% block base_scipt %}
    <script src="http://cdn.ckeditor.com/4.5.9/standard-all/ckeditor.js"></script>
    <script type="text/javascript" src="{% static 'js/less.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/store_about_rule.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cupon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock %}
    
</head>
<body>
=======

<body>
    
    	<textarea cols="80" id="editor2" name="editor2" rows="10"></textarea>
	<div id="content2" style="display: none">
		<p>The number of <code>change</code> events: <strong><span id="changes"></span></strong>.</p>
		<h3>Mirrored Content</h3>
		<div id="editorcontent2">
		</div>
	</div>
    
    <script>
		(function () {
			var changesCount = 0;
			var editor2 = CKEDITOR.replace( 'editor2', {
				removePlugins: 'sourcearea'

			} );
			editor2.on( 'change', function ( ev ) {
				changesCount++;
				document.getElementById( 'content2' ).style.display = '';
				//~ document.getElementById( 'changes' ).innerHTML = changesCount.toString();
				document.getElementById( 'editorcontent2' ).innerHTML = editor2.getData();
			} );
		})();
	</script>
    
    <div class="cupons_block">
        <div class="wrapper">
            <div class="content"></div>
            <a href="" class="close">свернуть баннер >></a>
        </div>
    </div>   
    <div class="main_content">
        <div class="middle_content">
            <div class="register_header">
                <div class="user_panel">
                    <div class="wrapper clearfix">
                        <ul class="top_menu left">
                            <li><a href="">Как это работает</a></li>
                            <li><a href="">Помощь</a></li>
                            <li><a href="">Отзывы</a></li>
                            <li><a href="">Приведи друга</a></li>
                            <li><a href="">Блог</a></li>
                        </ul>                        
                        <div class="user_info right clearfix">
                            <div class="balans left">
                                <a href="" class="lnk">Баланс: 0 <span class="rub">р</span></a>
                                <div class="balans_tooltip">Текущий баланс - 0 р.<br />из них Доступно для заказа - 0 р.<br/>и в Ожидание оплаты от магазина - 0 р.</div>
                            </div>
                            <div class="user_menu left">
                                <div class="user_menu_title"><span class="dotted">Аккаунт №58644</span></div>
                                <ul class="list">
                                    <li><div class="user_menu_title"><span class="dotted">Аккаунт №58644</span></div></li>
                                    <li><a href="">Мой профиль</a></li>
                                    <li><a href="">Приведи друга</a></li>
                                    <li><a href="">История покупок</a></li>
                                    <li><a href="">Получить деньги</a></li>
                                    <li><a href="">Выход</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_switch_banner hidden right">Промокоды</div>
                    </div>
                </div>
                <div class="header_panel">
                    <div class="wrapper clearfix">
                        <a href="/" class="main_logo left"></a>
                        <form method="get" action="" class="search_field search_field_full left">
                            <div class="search_back"></div>
                            <input type="text" class="input" autocomplete="off" name="squery" placeholder="Например, Aliexpress">
                            <input type="submit" class="submit" value="">
                            <div class="search_stub"><span>Найти магазин</span></div>
                            <ul class="autocompl_block hidden">
                                <li><a href="">Aliexpress</a></li>
                                <li><a href="">Aliexpress</a></li>
                                <li><a href="">Aliexpress</a></li>
                                <li><a href="">Aliexpress</a></li>
                                <li><a href="" class="show_all">Ещё</a></li>
                            </ul>
                        </form>                       
                        <a href="" class="gift right">
                            <span class="hover"></span>
                        </a>
                        <a href="" class="video right" data-open-modal="video">
                            <span class="hover"></span>
                        </a>
                        <div class="clear"></div>
                        <ul class="bread_crumbs">
                            <li><a href="">Главная</a></li>
                            <li><a href="" class="active">Каталог магазинов</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
            <div class="wrapper">                
                <div class="column_left indent_left_20 left">
                    <a href="http://www.lamoda.ru/" target="_blank" class="store_web left">www.lamoda.ru</a>
                    <span class="set_favorite left"></span>
                    <div class="clear"></div>
                    <a href="" class="store_logo" target="_blank">
                        <img src="http://cash4brands.ru/media/offers/lamoda-cashback.jpg" />
                        <span class="tite">кэшбэк 5%</span>
                    </a>
                    <div class="store_info left">
                        Посоветуйте друзьям скидку<br />5% в <a href="" class="lnk">Lamoda</a>
                    </div>
                    <div class="clear"></div>
                    <table cellpadding="0" cellspacing="0" border="0" class="store_recomend">
                        <thead>
                            <tr>
                                <th class="text_left">Похожие магазины</th>
                                <th width="1%" class="text_right">Кэшбэк</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text_left tite"><a href="">Asos</a></td>
                                <td width="1%" class="text_right sale">4%-8%</td>
                            </tr>
                            <tr>
                                <td class="text_left tite"><a href="">Victoria's Secret</a></td>
                                <td width="1%" class="text_right sale">5%</td>
                            </tr>
                            <tr>
                                <td class="text_left tite"><a href="">LAWINE</a></td>
                                <td width="1%" class="text_right sale">5%</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="" class="store_more">Больше магазинов&gt;</a>
                    <div class="store_descr">
                        <h4 class="store_descr_title">Промокод Ламода и другие способы экономии</h4>
                        <p>Перед тем как расскажем вам про купоны, промокоды, кэшбэк и другие способы экономии в Ламоде, немного про историю и особенности данного магазина.</p>
                        <p>Интернет-магазин Lamoda был основан в 2011 году и практически сразу вошел в пятерку крупнейших интернет-магазинов одежды, обуви и аксессуаров. С течением времени проект постоянно расширяет свой ассортимент продукции и географическую составляющую, во многих странах открыты филиалы, в том числе успешно функционируют <a href="http://cash4brands.ru/lamoda.ua/" target="_blank">Ламода -Украина</a>, <a href="http://cash4brands.ru/lamoda.kz/" target="_blank">Ламода-Казахстан</a> и <a href="http://cash4brands.ru/lamoda-by/" target="_blank">Ламода-Беларусь</a>.</p>
                        <h5 class="store_descr_title">Как использовать промокод Lamoda?</h5>
                        <p>Просто копируем код, который вы видите на этой странице (как пример - упомянутый выше промокод на скидку 30% на детскую одежду - "BAKID54") и вводим его при покупке. Все, стоимость товара уменьшается на 30% - все очень просто! Пожалуйста, имейте ввиду, что при использовании промокода Lamoda кэшбэк от нашего кэшбэк-сервиса не превышает 2% от стоимости любой покупки (во всех остальных случаях - 5%).</p>
                    </div>
                </div>
                
                <div class="left column_right" >
                    <h1 class="store_title">Промокоды Ламода + скидка 5% на все заказы</h1>
                    <div class="store_title_midle">МЫ ДАЕМ КЭШБЭК 5% НА ЛЮБУЮ ПОКУПКУ В МАГАЗИНЕ <a href="" target="_blank">LAMODA.RU</a> !</div>
                    <div class="btn_panel clearfix">
                        <a href="" class="btn_hover left store_info_lnk green">
                            <span class="green"></span>
                            <span class="orange"></span>
                            <span class="txt">Перейти в магазин и получить скидку ></span>
                        </a>
                        <a href="" class="left store_info_lnk orange">Промокоды ></a>
                        <a href="" class="left store_info_lnk blue">Отзывы ></a>
                    </div>
                    <div class="store_about">
                        <p>Конкурс! <a href="">Мы раздаем</a> 5 000 рублей на шоппинг!:)</p>
                        <p>Ищите промокоды, купоны и скидки в Ламоде? Они все у нас, в одном месте! Также, помимо всех акции в этом замечательном интернет-магазине, мы даем кэшбэк 5% на покупку.</p>
                        <p><b>Обратите, пожалуйста, внимание, что максимальная выплата за покупку совершенную по купону, составляет 2%.</b></p>
                        <div class="how_work clearfix">
                            <div class="txt left">Как это работает</div>
                            <a href="" class="btn_hover btn right">
                                <span class="green"></span>
                                <span class="orange"></span>
                                <span class="txt">Перейти в магазин и получить скидку ></span>
                            </a>
                        </div>
                        <div class="step_work clearfix">
                            <div class="item step_1 left">
                                <div class="image"></div>
                                <div class="title">Нажмите кнопку «Перейти в магазин и получите скидку»</div>
                            </div>
                            <div class="item step_2 left">
                                <div class="image"></div>
                                <div class="title">Перейдите в Интернет-магазин и закажите товар так, как вы делаете это обычно</div>
                            </div>
                            <div class="item step_3 left">
                                <div class="image"></div>
                                <div class="title">После заказа скидка автоматически поступит на ваш аккаунт cash4brands.ru</div>
                            </div>
                        </div>
                        <div class="pay_panel">
                            <div class="title">ПОЛУЧИТЕ ОБРАТНО ДЕНЬГИ<br />ЛЮБЫМ УДОБНЫМ ДЛЯ ВАС СПОСОБОМ</div>
                            <ul class="pay_list">
                                <li class="phone"><a href="" target="_blank">На телефон</a></li>
                                <li class="webmoney"><a href="" target="_blank">Webmoney</a></li>
                                <li class="qiwi"><a href="" target="_blank">Qiwi</a></li>
                                <li class="yandex"><a href="" target="_blank">Яндекс Деньги</a></li>
                                <li class="master"><a href="" target="_blank">MasterCard</a></li>
                                <li class="visa"><a href="" target="_blank">Visa</a></li>
                                <li class="paypal"><a href="" target="_blank">PayPal</a></li>
                            </ul>
                        </div>
                        <div class="list_rule">
                            <div class="item">
                                <div class="title clearfix">
                                    <div class="txt left">ВАЖНО, КЭШБЭК БУДЕТ НАЧИСЛЕН, ЕСЛИ..</div>
                                    <div class="btn right">развернуть правила <span>></span></div>
                                </div>
                                <div class="text">
                                    <div class="wrap">
                                        <div class="close">Свернуть</div>
                                        Важно. Кэшбэк будет начислен, если:<br />
                                        1) Вы переходите на сайт магазина с cash4brands.ru перед каждой Вашей покупкой.<br />
                                        2) Вы добавляете товар в корзину интернет-магазина только после перехода с <a href="http://cash4brands.ru/">cash4brands.ru</a>.<br />
                                        3) Вы не используете сторонние купоны и промокоды.<br />
                                        4) Для корректной передачи данных отключите программы блокировки рекламы, такие как Adblock. Они блокируют передачу данных о Ваших кликах из cash4brands.ru в систему магазинов.<br />
                                        5) Если вдруг Вы увидели, что множество Ваших покупок не фиксируются в нашей системе, убедительно рекомендуем Вам чистить Cookies в настройках Вашего браузера, но, перед этим закрыв в браузере все вкладки, а затем переходить на наш сервис <a href="http://cash4brands.ru/">cash4brands.ru</a> и совершать покупки.<br />
                                        6) У Вас установлены сторонние браузерные расширения, такие как: Aliexpress Tools, friGate CDN и некоторые другие. Они подменяют партнерскую ссылку на свою и следовательно, не блокируют передачу данных о Вашей покупки, как сделанной через наш сервис. Пожалуйста, удостоверьтесь, что браузерные расширение не установлены в том браузере, через который Вы делаете покупки.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="title clearfix">
                                    <div class="txt left">НЕ ПОЛУЧИЛИ КЭШБЭК? НАПИШИТЕ НАМ!</div>
                                    <div class="btn right">Что делать <span>></span></div>
                                </div>
                                <div class="text">
                                    <div class="wrap">
                                        <div class="close">Свернуть</div>
                                        Дорогие друзья, наша главная задача - помочь вам сэкономить деньги. Если вы совершили покупку через <a href="http://cash4brands.ru/">cash4brands.ru</a>, но по какой-то причине не получили кэшбэк, пожалуйста, сообщите нам об этом по адресу <a href="mailto:info.cash4brands.ru@gmail.com">info.cash4brands.ru@gmail.com</a> и укажите в письме данные о покупке (дата и время, сумма и номер заказа). Пожалуйста, имейте ввиду, что по некоторым покупкам время ожидания начисления в аккаунт <a href="http://cash4brands.ru/">cash4brands.ru</a> может составлять до 2х недель.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="title clearfix">
                                    <div class="txt left">ВЫ ЗНАЕТЕ ПРОМОКОД ИЛИ КУПОН НА СКИДКУ?</div>
                                    <div class="btn dashed_brd right">добавить промокод <span>></span></div>
                                </div>
                                <div class="text">
                                    <div class="wrap">
                                        <div class="close">Свернуть</div>
                                        <div class="promo_title left">
                                            Поделитесь им со всеми и получите 20 рублей! Просто впишите промокод здесь и он появится в комментариях. После проверки промокода, деньги будут добавлены в Ваш аккаунт
                                        </div>
                                        <form action="" method="" class="main_form form_promo left">
                                            <label>Тип акции</label>
                                            <div class="clear"></div>
                                            <div class="field">
                                                <div class="subs_input"></div>
                                                <div class="for_select_box">
                                                    <select class="input_element">
                                                        <option>Промокод</option>
                                                        <option>Промокод</option>
                                                        <option>Промокод</option>
                                                    </select>
                                                </div>
                                                <div class="arrow"></div>
                                                <div class="error_label">Ошибка</div>
                                            </div>

                                            <label>Промокод</label>
                                            <div class="clear"></div>
                                            <div class="field">
                                                <div class="subs_input"></div>
                                                <input class="input_element" type="text" name="promo_code" placeholder="Промокод">
                                                <div class="error_label">Ошибка</div>
                                            </div>

                                            <label>Описание<sup>*</sup></label>
                                            <div class="clear"></div>
                                            <textarea placeholder="Описание"></textarea>
                                            <div class="error_label">Ошибка</div>


                                            <label>Дата окончания/Без даты окончания</label>
                                            <div class="clear"></div>
                                            <div class="field">
                                                <div class="subs_input"></div>
                                                <div class="for_select_box">
                                                    <select class="input_element">
                                                        <option>Дата окончания акции</option>
                                                        <option>Дата окончания акции</option>
                                                        <option>Дата окончания акции</option>
                                                        <option>Дата окончания акции</option>
                                                    </select>
                                                </div>
                                                <div class="arrow"></div>
                                                <div class="error_label">Ошибка</div>
                                            </div>

                                            <label>Дата окончания акции</label>
                                            <div class="clear"></div>
                                            <div class="field">
                                                <div class="subs_input"></div>
                                                <input class="promo_date_end input_element" type="text" name="promo_date">
                                                <div class="error_label">Ошибка</div>
                                            </div>

                                            <label>Ваше имя<sup>*</sup></label>
                                            <div class="clear"></div>
                                            <div class="field">
                                                <div class="subs_input"></div>
                                                <input class="input_element" type="text" name="promo_name" placeholder="Ваше имя">
                                                <div class="error_label">Ошибка</div>
                                            </div>
                                            <div class="clear"></div>
                                            <input type="submit" value="Отправить" class="button_form">
                                        </form>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="store_list_cupon">
                        <li class="clearfix">
                            <div class="left text_center">
                                <a href="" class="image">
                                    <img src="http://cash4brands.ru/media/offers/lamoda-cashback.jpg" />
                                </a>
                                <div class="cach_back">+ кэшбэк 5%</div>
                            </div>
                            <div class="left right_panel clearfix">
                                <div class="title left"><a href="">SPARCO: СКИДКИ 30% + 10% ПО ПРОМОКОДУ!</a></div>
                                <div class="promo right">
                                    Промокод:
                                    <div class="code"><span>не нужен</span></div>
                                    <span class="lnk">скопировать</span>
                                </div>
                                <div class="clear indent_top_10"></div>
                                <div class="left">
                                    <div class="final_time left">Заканчивается: <span class="inf">20/02/2016</span></div>
                                    <div class="clear"></div>
                                    <div class="count_people left">Воспользовались: <span class="inf">11 человек</span></div>
                                </div>
                                <div class="right btn">Перейти на акцию ></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="left text_center">
                                <a href="" class="image">
                                    <img src="http://cash4brands.ru/media/offers/lamoda-cashback.jpg" />
                                </a>
                                <div class="cach_back">+ кэшбэк 5%</div>
                            </div>
                            <div class="left right_panel clearfix">
                                <div class="title left"><a href="">СКИДКА 10%!</a></div>
                                <div class="promo right">
                                    Промокод:
                                    <div class="code"><span>AFF6269-A</span></div>
                                    <span class="lnk" data-clipboard-action="copy" data-clipboard-text="AFF6269">скопировать</span>
                                </div>
                                <div class="clear indent_top_10"></div>
                                <div class="left">
                                    <div class="final_time left">Заканчивается: <span class="inf">20/02/2016</span></div>
                                    <div class="clear"></div>
                                    <div class="count_people left">Воспользовались: <span class="inf">11 человек</span></div>
                                </div>
                                <div class="right btn">Перейти на акцию ></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="left text_center">
                                <a href="" class="image">
                                    <img src="http://cash4brands.ru/media/offers/lamoda-cashback.jpg" />
                                </a>
                            </div>
                            <div class="left right_panel clearfix">
                                <div class="title left">SPARCO: СКИДКИ 30% + 10% ПО ПРОМОКОДУ!</div>
                                <div class="promo right">
                                    Промокод:
                                    <div class="code off"><span>не нужен</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <ul class="footer_menu">
                <li><a href=""><span class="arrow"></span>Как работает кэшбэк-сервис?</a></li>
                <li><a href=""><span class="arrow"></span>Условия пользования</a></li>
                <li><a href=""><span class="arrow"></span>Бонусная программа</a></li>
                <li><a href=""><span class="arrow"></span>Контактная информация</a></li>
                <li><a href=""><span class="arrow"></span>Часто задаваемые вопросы</a></li>
                <li><a href=""><span class="arrow"></span>Отзывы</a></li>
            </ul>
        </div>
    </div> 

    <div class="back_modal hidden video_modal" data-modal="video">
        <div class="modal_window" style="width: 560px; height: 315px;">
            <div class="modal_body">
                <a href="" class="close" data-modal-close="video"></a>
                <iframe width="560" height="315" src="http://www.youtube.com/embed/I_SphnjTNEY" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>   
    
    <div class="back_modal" data-modal="add_block">
        <div class="modal_window" style="width: 800px; height: 280px;">
            <div class="modal_body">                
                <div class="add_block">
                    <a href="" class="close" data-modal-close="add_block"></a>
                    <p class="cut">
                        Данное сообщение появилось в результате невозможности поставить вам файл cookie. Это может вызвать проблемы с работой сайта, в частности с возвратом денег за ваши покупки и снижения стоимости при использовании купонов.
                    </p>
                    <p class="cut">
                        Скорее всего данная ошибка вызвана тем, что у Вас установлен AdBlock и он блокирует наши домены, поэтому вам нужно <a href=" abp:subscribe?location=http://cash4brands.ru/static/adblock.txt&amp;title=Cash4Brands">добавить наш сайт в белый список</a>добавить наш сайт в белый список или отключить AdBlock
                    </p>
                </div>
            </div>
        </div>
    </div>
    
        <script>
        CKEDITOR.on( 'instanceCreated', function ( event ) {
            var editor = event.editor,
                    element = editor.element;

            if ( element.is( 'h1', 'h2', 'h3', 'h4', 'p', 'span', 'div' ) || element.getAttribute( 'id' ) == 'taglist' ) {
                editor.on( 'configLoaded', function () {

                    editor.config.removePlugins = 'colorbutton,find,flash,font,' +
                            'forms,iframe,image,newpage,removeformat,' +
                            'smiley,specialchar,stylescombo,templates';

                    editor.config.toolbarGroups = [
                        { name: 'editing', groups: [ 'basicstyles', 'links'] },
                        { name: 'undo' },
                        { name: 'clipboard', groups: [ 'selection', 'clipboard' ] },
                        { name: 'about' },
=======
                        { name: 'editing', groups: [ 'basicstyles', 'links' ] },
                        { name: 'undo' },
                        { name: 'clipboard', groups: [ 'selection', 'clipboard' ] },
                        { name: 'about' }
>>>>>>> 8dd6d1b272d392e7c47e49f95651b1bedff7a833
                    ];
                } );
            }
        } );
    </script>
<<<<<<< HEAD

    <script>
        (function () {
            var editor2 = CKEDITOR.replace( 'editor2', {
                removePlugins: 'sourcearea'
            } );
            editor2.on( 'change', function ( ev ) {
                document.getElementById( 'test' ).innerHTML = editor2.getData();
            } );
        })();
    </script>

=======
>>>>>>> 8dd6d1b272d392e7c47e49f95651b1bedff7a833
    
</body>
</html>
