﻿/*Eraser*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    background: transparent;
    font: inherit;
}
table {
    border-spasing: 0;
    border-collapse: collapse;
}
img { border:none; }
input, select, textarea { vertical-align: 0; padding: 0; margin:0; }
:focus { outline: 0; }
textarea { resize :none; font-family: inherit; }
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
b, strong{ font-weight: bold !important; }
h1,h2,h3,h4,h5,h6,span,p,li,div,th,td{
    color: #616161;
}
h1{ font-size: 24px; }
h2{ font-size: 22px; }
h3{ font-size: 20px; }
h4{ font-size: 18px; }
h5{ font-size: 16px; }
h6{ font-size: 15px; }
p,span,div,li,a,th,td{
    font-size: 14px;
    line-height: 1.4;
}
ul{ list-style-type: circle; }
a:link, a:visited{ color: #175d88; text-decoration: underline; }
a:link { color: #444444; }
a:hover{ text-decoration: none; }
p{ margin: 5px 0; }
i{ font-style: italic; }